@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto;
  color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input {
  color: inherit;
  font: inherit;
}

button {
  border: none;
  appearance: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  color: var(--gray-3);
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
}

/* SIDEBAR */

.sidebar {
  background-color: #2291d3;
  color: white;
  padding: 2rem;
  grid-area: sidebar;
}

.sidebar-title {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.sidebar-title > [class^='material-icons'] {
  font-size: 1.4em;
  margin-right: 0.25em;
}